<a class="btn-success" > . .LOGIN. .</a>




<form class="form" action="/users/login" method="post">
    <label>gmail</label>
    <input type="email" name="gmail">
    <label >Password</label>
    <input type="password" name="password" >
    <button class="btn btn-success m-3" type="submit">Submit</button>
</form>



<style>
    .form{
        display: flex;
        flex-direction: column;
        margin: 20px;
        width: 40%;
    }
</style>