<a class="btn-success" > . .SIGN UP. .</a>




<form class="form" action="/users/signup" method="post">
    <label>gmail</label>
    <input type="email" name="gmail">
    <label >Password</label>
    <input type="password" name="password" >
    <button class="btn btn-success m-3" type="submit">Submit</button>
</form>

<a  href="/login" >already have ...bitch</a>


<style>
    .form{
        display: flex;
        flex-direction: column;
        margin: 20px;
        width: 40%;
    }
    a{
        color: white;
        text-decoration: none;
    }
</style>