<form action="/newproduct" method="post" class="newnote">

    <label>type</label>
    <input type="text" name="type" placeholder="type name here...">
    <label>description</label>
    <input type="text" name="des" placeholder="type name here...">
    <button class="btn btn-success m-3" type="submit">Submit</button>
</form>

<style>
    .newnote {
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 30px;
        color: white;
        
    }

    textarea {
        border-radius: 5px;
        width: 100%;
        padding: 10px;
      
    }

    input {
        border-radius: 5px;
        height: 40px;
        padding: 10px;
    }
</style>